.page {
  margin: 0 auto;
  max-width: 1200px;
  text-transform: capitalize;
}

.page article {
  margin: 2rem 0;
}

.page span {
  color: grey;
  margin-left: 30px;
}

.page div {
  height: 15rem;
}

@media screen and (min-width: 768px) {
  .page {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .page {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
