.singleProduct h1 {
  text-transform: capitalize;
}

.singleProduct section {
  max-width: 1200px;
  width: 90vw;
}

.singleProduct section h1 {
  margin-top: 0;
}

.singleProduct section article:first-child {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .singleProduct section {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
